{% extends 'stud_dashboard/base.html' %}

{% block content %}

<div class="container my-5">
    <h1>WELCOME</h1>
    <h2 class="text-center my-5 m-auto" style="border-bottom:2px solid #F3244D; width:270px;">Update Student</h2> 
</div>
<div class="container w-auto mb-2">
  <div class="card rounded-sm">
    <div class="card-body" style="background:#A54E14;">
      <form action="{% url 'edit_update_student' stud.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="regnum" class="fs-4" style="color:#040A2B;">Reg. Number</label>
          <input type="text" class="form-control fs-4" name="regnum" id="regnum" placeholder="Enter Your Roll" required value="{{stud.regnum}}">
        </div>
        <div class="form-group">
          <label for="name" class="fs-4" style="color:#040A2B;">Name</label>
          <input type="text" class="form-control fs-4" name="fullname" id="name" placeholder="Enter Your Name" required value="{{stud.fullname}}">
        </div>
        <div class="form-group">
          <label for="email" class="fs-4" style="color:#040A2B;">Email address</label>
          <input type="email" class="form-control fs-4" name="email" id="email" placeholder="youremail@gmail.com" required value="{{stud.email}}">
        </div>
        <div class="form-group">
          <label for="address" class="fs-4" style="color:#040A2B;">Address</label>
          <textarea class="form-control fs-4" name="address" id="address" rows="3" placeholder="Enter your Address" required>{{stud.address}}</textarea>
        </div>
        <div class="form-group">
          <label for="phone" class="fs-4" style="color:#040A2B;">Phone Number</label>
          <input type="text" class="form-control fs-4" name="phone" id="phone" placeholder="Enter your Number" required value="{{stud.phone}}">
        </div>
        <div class="conatainer my-3 text-center">
          <input type="submit" value="Update" class="btn btn-outline-dark text-white fs-2 w-50"/>
        </div>
      </form> 
    <div>
  </div>
</div>
{% endblock %}